<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WebSocket.Port" value="8089" />   
    <!-- NOT YET SUPPORTED - Configuration for TLS using Windows Keystore
    <add key ="WebSocket.Protocol" value="wss"/>
    <add key ="Certificate.Thumbprint" value="...."/>
    <add key ="Certificate.StoreLocation" value="..."/>
    <add key ="Certificate.StoreName" value="..."/>
    -->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>